<%- include('partials/header.ejs') %>
<main class="app-content">
    <!-- main content -->
    <div class="app-title">
        <div>
            <h1> <i class="icofont-list"></i> Order </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link active" id="nav-pending-tab" data-toggle="tab" href="#nav-pending"
                                role="tab" aria-controls="nav-pending" aria-selected="true"> Order - Pending </a>
                            <a class="nav-link" id="nav-processing-tab" data-toggle="tab" href="#nav-processing"
                                role="tab" aria-controls="nav-processing" aria-selected="false"> Order - Processing </a>
                            <a class="nav-link" id="nav-completed-tab" data-toggle="tab" href="#nav-completed"
                                role="tab" aria-controls="nav-completed" aria-selected="false"> Order - Completed </a>
                            <a class="nav-link" id="nav-canceled-tab" data-toggle="tab" href="#nav-canceled" role="tab"
                                aria-controls="nav-canceled" aria-selected="false"> Order - Canceled </a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <!-- START PENDING TAB -->
                        <div class="tab-pane fade show active py-4" id="nav-pending" role="tabpanel"
                            aria-labelledby="nav-pending-tab">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered display">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Reference</th>
                                            <th>Customer Name</th>
                                            <th>Phone</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var i = 1; %>
                                        <% pendingOrders.forEach(function(order){ %>
                                        <tr>
                                            <td>
                                                <%= i++ %>
                                            </td>
                                            <td>
                                                <%= order.ref %>
                                            </td>
                                            <td>
                                                <%= order.name %>
                                            </td>
                                            <td>
                                                <%= order.phone %>
                                            </td>
                                            <td>
                                                <%= order.orderDate %>
                                            </td>
                                            <td>
                                                <%= order.status %>
                                            </td>
                                            <td>
                                                <a href="orderDetail/<%= order.doc_id %>" class="btn btn-outline-info">
                                                    <i class="icofont-info"></i>
                                                </a>
                                                <!-- processing order button -->
                                                <form class="d-inline-block" onsubmit="return confirm('Are you sure want to process?')" method="post" action="update_order_process">

                                                    <input type="hidden" name="doc_id" value="<%= order.doc_id %>">

                                                    <button class="btn btn-outline-secondary">
                                                        <i class="icofont-recycle"></i>
                                                    </button>

                                                </form>

                                                <!-- completed order button -->
                                                <form class="d-inline-block" onsubmit="return confirm('Are you sure want to complete?')" method="POST" action="update_order_complete">

                                                    <input type="hidden" name="doc_id" value="<%= order.doc_id %>">

                                                    <button class="btn btn-outline-success">
                                                        <i class="icofont-ui-check"></i>
                                                    </button>
                                                </form>
                                                <!-- canceled order button -->
                                                <form class="d-inline-block" onsubmit="return confirm('Are you sure want to cancel?')" method="POST" action="update_order_cancel">

                                                    <input type="hidden" name="doc_id" value="<%= order.doc_id %>">

                                                    <button class="btn btn-outline-danger">
                                                        <i class="icofont-close"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END PENDING TAB -->

                        <!-- START PROCESSING TAB -->
                        <div class="tab-pane fade py-4" id="nav-processing" role="tabpanel"
                            aria-labelledby="nav-processing-tab">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered display">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Reference</th>
                                            <th>Customer Name</th>
                                            <th>Phone</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var i = 1; %>
                                        <% processingOrders.forEach(function(order){ %>
                                        <tr>
                                            <td>
                                                <%= i++ %>
                                            </td>
                                            <td>
                                                <%= order.ref %>
                                            </td>
                                            <td>
                                                <%= order.name %>
                                            </td>
                                            <td>
                                                <%= order.phone %>
                                            </td>
                                            <td>
                                                <%= order.orderDate %>
                                            </td>
                                            <td>
                                                <%= order.status %>
                                            </td>
                                            <td>
                                                <a href="orderDetail/<%= order.doc_id %>" class="btn btn-outline-info">
                                                    <i class="icofont-info"></i>
                                                </a>
                                            
                                                <!-- completed order button -->
                                                <form class="d-inline-block" onsubmit="return confirm('Are you sure want to complete?')" method="POST" action="update_order_complete">

                                                    <input type="hidden" name="doc_id" value="<%= order.doc_id %>">

                                                    <button class="btn btn-outline-success">
                                                        <i class="icofont-ui-check"></i>
                                                    </button>
                                                </form>

                                                <!-- canceled order button -->
                                                <form class="d-inline-block" onsubmit="return confirm('Are you sure want to cancel?')" method="POST" action="update_order_cancel">

                                                    <input type="hidden" name="doc_id" value="<%= order.doc_id %>">

                                                    <button class="btn btn-outline-danger">
                                                        <i class="icofont-close"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END PROCESSING TAB -->

                        <!-- START COMPLETED TAB -->
                        <div class="tab-pane fade py-4" id="nav-completed" role="tabpanel"
                            aria-labelledby="nav-completed-tab">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered display">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Reference</th>
                                            <th>Customer Name</th>
                                            <th>Phone</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var i = 1; %>
                                        <% completedOrders.forEach(function(order){ %>
                                        <tr>
                                            <td>
                                                <%= i++ %>
                                            </td>
                                            <td>
                                                <%= order.ref %>
                                            </td>
                                            <td>
                                                <%= order.name %>
                                            </td>
                                            <td>
                                                <%= order.phone %>
                                            </td>
                                            <td>
                                                <%= order.orderDate %>
                                            </td>
                                            <td>
                                                <%= order.status %>
                                            </td>
                                            <td>
                                                <a href="orderDetail/<%= order.doc_id %>" class="btn btn-outline-info">
                                                    <i class="icofont-info"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END COMPLETED TAB -->

                        <!-- START CANCELED TAB -->
                        <div class="tab-pane fade py-4" id="nav-canceled" role="tabpanel"
                            aria-labelledby="nav-canceled-tab">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered display">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Reference</th>
                                            <th>Customer Name</th>
                                            <th>Phone</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var i = 1; %>
                                        <% canceledOrders.forEach(function(order){ %>
                                        <tr>
                                            <td>
                                                <%= i++ %>
                                            </td>
                                            <td>
                                                <%= order.ref %>
                                            </td>
                                            <td>
                                                <%= order.name %>
                                            </td>
                                            <td>
                                                <%= order.phone %>
                                            </td>
                                            <td>
                                                <%= order.orderDate %>
                                            </td>
                                            <td>
                                                <%= order.status %>
                                            </td>
                                            <td>
                                                <a href="orderDetail/<%= order.doc_id %>" class="btn btn-outline-info">
                                                    <i class="icofont-info"></i>
                                                </a>
                                            
                                                <!-- delete order button -->
                                                <form class="d-inline-block" onsubmit="return confirm('Are you sure want to delete?')" method="POST" action="deleteOrder">

                                                    <input type="hidden" name="doc_id" value="<%= order.doc_id %>">

                                                    <button class="btn btn-danger">
                                                        <i class="icofont-trash"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END CANCELED TAB -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer.ejs') %>