<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- Main CSS-->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<!-- iconfont CSS -->
	<link rel="stylesheet" type="text/css" href="/icon/icofont/icofont.min.css">
	<style>
		.border_left {
			border-color: #408BEA;
			border-left: solid 5px #408bea;
			padding-left: 10px;
		}
	</style>
</head>

<body>

	<script>
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'Messenger'));

		const APP_ID = 1437772286611018;
		var senderID = "";

		window.extAsyncInit = function () {
			MessengerExtensions.getContext(APP_ID,
				function success(thread_context) {
					senderID = thread_context.psid;
				},
				function error(err) {
					console.log(err);
				}
			);
		};
	</script>

	<div class="container mt-5">
		<h2 class="border_left"> Order Summary </h2>
		<div class="row mt-3">
			<div class="col-6">
				<a href="../cart" class="btn mainfullbtncolor btn-outline-secondary float-left">
					<i class="icofont-shopping-cart"></i>
					Cart
				</a>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-12 table-responsive">
				<table class="table">
					<tbody>
						<% cart.forEach(function(item){ %>
						<tr>
							<td colspan="2" class="text-center"><%= item.name %> * <%= item.qty %></td>
						</tr>
						<% }); %>
					</tbody>
					<tfoot>
						<tr>
							<th class="text-center">SubTotal</th>
							<td><%= sub_total %> Ks</td>
						</tr>
						<tr>
							<th class="text-center">Discount</th>
							<td>-<%= discount %> Ks</td>
						</tr>
						<tr>
							<th class="text-center">Total</th>
							<td><%= cart_total %> Ks</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-md-12">
				<h3 class="text-center">Personal Information</h3>
				<form id="form" action="../order" method="post">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" value="<%= user.name %>" id="name" name="name" required>
					</div>
					<div class="form-group">
						<label for="phone">Phone Number</label>
						<input type="text" class="form-control" value="<%= user.phone %>" id="phone" name="phone"
							required>
					</div>
					<div class="form-group">
						<label for="address">Address</label>
						<textarea class="form-control" id="address" rows="3" name="address" required>
				  <%= user.address %>
				</textarea>
					</div>
					<div class="form-group">
						<label for="payment">Payment Method</label>
						<select class="form-control" id="payment" name="payment_type" required>
							<option value="Cash On Delivery">Cash On Delivery</option>
						</select>
					</div>
					<input type="hidden" name="items" value="<%= items %>">
					<input type="hidden" name="sub_total" value="<%= sub_total %>" />
					<input type="hidden" name="discount" value="<%= discount %>" />
					<input type="hidden" name="total" value="<%= cart_total %>" />
					<button type="submit" class="btn btn-primary">Order</button>
				</form>
			</div>
		</div>
	</div>
	<!-- scripts -->
	<script>
		const windowShut = () => {

			setTimeout(() => {

				MessengerExtensions.requestCloseBrowser(function success() {
					console.log("success");
				}, function error(err) {
					console.log(err);
				});


			}, 2000);


		}

		document.getElementById("form").addEventListener("submit", windowShut);
	</script>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>



</html>